ul.social {
  list-style: none;
  text-align: center;
}

ul.social li {
  display: inline-block;
}

ul.social li:after { content: " | "; }
ul.social li:last-child:after { content: none; }

dl {
  display: inline-block;
}
dt {
  clear: both;
}
dd {
    min-width: 9em;
  float: left;
  margin-left: 1.5em;
  display: list-item;
  list-style-type: disc;
}

table.contact,
.contact tr,
.contact td {
    border: 0px;
}

.line {
    clear: both;
    width: 100%;
    height: 3px;
    background-color: black;
}


@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .no-print {
    display: none;
  }

  body {
    font-size: 16px;  /* or 12pt or 1em */
    margin: 15mm 15mm 15mm 15mm;
  }

  .container {
      width: 100%;
  }
  
  .posts-wrapper {
      padding-top: 0;
      width: 100%;
  }

  .misc-content {
    max-width: inherit;
  }

  .posts-wrapper h1,
  .posts-wrapper h2,
  .posts-wrapper h3,
  .posts-wrapper h4,
  .posts-wrapper h5,
  .posts-wrapper h6 {
    margin: 0 0;
    letter-spacing: 0;
    page-break-after: avoid;
  }
  .posts-wrapper h1 {
      font-size: 1.8em;
    text-align: center;
  }
  .posts-wrapper h2 {
      font-size: 1.5em;
      margin-top: 0.4em;
      margin-bottom: 0.2em;
  }
  .posts-wrapper h3 {
      font-size: 1.2em;
  }
  .posts-wrapper h4 {
  }
  .posts-wrapper h5 {
  }
  .posts-wrapper h6 {
  }

  hr {
    color: #000;
    background-color: #000;
    height: 5px;
  }

  header,
  .page-title h1:first-of-type, /* Need this to remove the page title */
  footer
  {
    display: none;
  }

  .container a {
    text-decoration: none;
  }

}
