---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

$base-font-family: 'Roboto', sans-serif;

$body-font-family: Georgia, serif;

$brand-color: black;
$brand-invert-color: #bbb;

$brand-shade-color: lightgrey;

$container-width: 1100px;

$header-thickness: 56px;

// Importing Sass/SCSS partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "article-page",
        "code",
        "footer",
        "header",
        "home-page",
        "list",
        "site-container",
        "social-icons",
        "table";
