<footer class="footer">
  {% for item in site.data.settings.social %}
  {% if item.bar %}
  <a href="{{ item.link }}" class="menu-link"><i class="fa fa-{{ item.icon }}" aria-hidden="true" target="_blank"></i></a>
  {% endif %}
  {% endfor %}
  <div class="footer-credits">
    <a href="{{ site.url }}/">{{ site.data.settings.title }} | {{ site.data.settings.author.name }}</a>
    <br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    <br>
    Theme <a href="https://github.com/LeNPaul/Millennial">Millenial</a>
    by <a href="https://github.com/LeNPaul/">Paul Le</a> licensed under a <a rel="license" href="https://github.com/LeNPaul/Millennial/blob/gh-pages/LICENSE">MIT</a>.
  </div>
</footer>
