<head>
  <meta charset="UTF-8">

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta property="og:site_name" content="{{ site.data.setting.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/images/{{ page.image.feature }}" />

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.url }}">

  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.url }}">

  {% if page.title == "CV" %}
  <link rel="stylesheet" href="{{ '/css/cv.css' | prepend: site.url }}">
  {% endif %}

  <link href="/atom.xml" type="application/rss+xml" rel="alternate" title="Latest blog posts (atom)" />
</head>
