<figure style="background:black;">
  {% if include.original_url %}
  <a href="{{ include.original_url }}">
  {% endif %}
    <img
      src="/images/{{ include.filename }}"
      alt="{{ include.alternative_text }}">	
  {% if include.original_url %}
  </a>
  {% endif %}
  {% if include.author or include.caption %}
  <figcaption>
    {% if include.caption %}
    {{ include.caption }}<br/>
    {% endif %}
    {% if include.author %}
    Image by {{ include.author }}
    {% if include.original_url %}
    available at <a href="{{ include.original_url }}">{{ include.original_url }}</a>
    {% endif %}
    {% if include.licence %}
    under {{ include.licence }}
    {% endif %}
    {% endif %}
    .
  </figcaption>
{% endif %}
</figure>
