/*
  Reset some basic elements
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
  Basic styling
*/

body {
  font-family: $base-font-family;
}

.page-content {
  line-height: 1.65;
  font-family: $body-font-family;
}

.page-content p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/*
  Links
*/

a {
  color: $brand-color;
  text-decoration: none;
}

/*
  Images
*/

body img {
  align: middle;
  margin: 5px auto auto auto;
  display: block;
}

body figure figcaption {
  color: $brand-invert-color;
  background: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding-left: 5px;
  
  line-height: 1.65;
  font-family: $body-font-family;
}

body figure figcaption a {
  color: $brand-invert-color;
  text-decoration: none;
}

/*
  reStructuredText metadata
*/

div.author,
div.categories,
div.tags {
  display: none;
}

/*
  reStructuredText admonitions
*/

div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
    margin: 0 10px;
    padding: 0 10px;
    background: $brand-shade-color;
    border-radius: 5px;
}

div.attention > p:first-child,
div.caution > p:first-child,
div.danger > p:first-child,
div.error > p:first-child,
div.hint > p:first-child,
div.important > p:first-child,
div.note > p:first-child,
div.tip > p:first-child,
div.warning > p:first-child {
    font-weight: bold;
}
