.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}

.footer-credits {
  display: block;
  font-size:0.8rem;
  line-height: 1rem;
  padding-bottom: 15px;
}

.footer a {
  text-decoration: none;
}
