a.featured-posts {
  color: white;
  text-decoration: none;
}

div.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.featured-posts img {
  max-width: 600px;
  margin: 10px;
}

div.featured-posts h1 {
  margin: 10px;
}

div.featured-posts .post-title {
  display: inline-block;
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-top: 300px;  /* FIXME: Calculate this based on other elements. */
  border-radius: 5px;
}

div.featured-posts .post-title h2 {
   font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
}

div.featured-posts .post-title a {
  color: white;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}
