table {
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 0px 5px;
}

table thead {
  color: $brand-invert-color;
  background: black;
}

tfoot {
  border-top: 3px solid black;
}
