---
layout: default
title: Home
---

{% for post in paginator.posts %}

  <a class="featured-posts" href="{{ site.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image.feature %}style="background-image:url({{ site.url }}/images/{{ post.image.feature }})"{% endif %}>
      <div class="post-title">
        <h2>{{ post.title }}</h2>
        Written on
        {% assign d = post.date | date: "%-d"  %}
        {{ post.date | date: "%B" }}
        {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd
        {% when '3' or '23' %}{{ d }}rd
        {% else %}{{ d }}th{% endcase %},
        {{ post.date | date: "%Y" }}
        by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.data.settings.author.name }}
        {% endif %}
        .
        <br>
        {% if post.image.author %}
          Image by {{ post.image.author }}
          {% if post.image.original_url %}
          available at {{ post.image.original_url }}
          {% endif %}
          {% if post.image.licence %}
          under {{ post.image.licence }}
          {% endif %}
          .
      {% endif %}
      </div>
    </div>
  </a>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-button">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% else %}
      <span class="pagination-button">Older</span>
  {% endif %}
</div>
{% endif %}
