---
layout: default
---

<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date">
    Written on
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
    by
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.data.settings.author.name }}
    {% endif %}
  </span>

  {% if page.image.feature %}
      <figure class="featured-image">
        {% if page.image.original_url %}
        <a href="{{ page.image.original_url }}">
        {% endif %}
          <img src="{{ site.url }}/images/{{ page.image.feature }}">
        {% if page.image.original_url %}
        </a>
        {% endif %}
        {% if page.image.author %}
        <figcaption>
          Image by {{ page.image.author }}
          {% if page.image.original_url %}
          available at <a href="{{ page.image.original_url }}">{{ page.image.original_url }}</a>
          {% endif %}
          {% if page.image.licence %}
          under {{ page.image.licence }}
          {% endif %}
          .
        </figcaption>
        {% endif %}
      </figure>
  {% endif %}

  {% if page.crosspost %}
  <p>
    This post was also publish at <a href="{{ page.crosspost.url }}">{{ page.crosspost.name }}</a>.
  </p>
  {% endif %}

  {{ content }}

  <div class="post-share">
    <div class="post-date">Feel free to share!</div>
    <div class="sharing-icons">
      {% for item in site.data.settings.social %}
      {% if item.icon == "twitter" %}
      <a href="https://twitter.com/intent/tweet?text=I just read {{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ item.text }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      {% endif %}
      {% if item.icon == "facebook" %}
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      {% endif %}
      {% if item.icon == "plus" %}
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

    <h2>You may also enjoy...</h2>
    {% assign listed_posts_urls = page.url | split: ' ' %}
      {% for tag in page.tags %}
        {% for mypost in site.tags[tag] limit:2 %}
          {% if listed_posts_urls contains mypost.url %}
          {% else %}
    <div class="featured-image">
      <figure>
        <a href="{{ site.url }}{{ mypost.url }}">
          <img src="{{ site.url }}/images/{{ mypost.image.feature }}">
        </a>
        <figcaption>
          {{ mypost.title }}
        </figcation>
      </figure>
    </div>
            {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
          {% endif %}
        {% endfor %}
      {% endfor %}

</div>
